* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.first-row {
    display: flex;
}

.container,
.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}

.hidden {
    display: none;
}

.warm-colors,
.cool-colors,
.neutral-colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.second-row {
    display: flex;
    margin-bottom: 70px;
}

.cool-colors {
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.category-title {
    margin: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1 1 100%;
    color: white;
}

.cool-colors .card {
    color: white;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    flex: 1;
    margin: 10px;
    padding: 20px;
    height: 250px;
    gap: 7px;
}

.card h2 {
    margin: 0 0 7px 0px;
    font-size: 1.25rem;
}

.card p {
    text-align: left;
    justify-content: flex-start;
    font-size: 1rem;
}

/* Warm Colors */
.warm-colors .card:nth-child(2) {
    background-color: #ff6b00;
}

.warm-colors .card:nth-child(3) {
    background-color: #ffc700;
}

.warm-colors .card:nth-child(4) {
    background-color: #95d600;
}

/* Cool Colors */
.cool-colors .card:nth-child(2) {
    background-color: #00c1de;
}

.cool-colors .card:nth-child(3) {
    background-color: #0091bd;
}

.cool-colors .card:nth-child(4) {
    background-color: #002b49;
}

/* Neutral Colors */
.neutral-colors .card:nth-child(2) {
    background-color: #e5eceb;
}

.neutral-colors .card:nth-child(3) {
    background-color: #7d868c;
}

.neutral-colors .card:nth-child(4) {
    background-color: #333e48;
}

.card.active {
    flex: 3;
    border: 2px solid rgb(224, 192, 7);
    box-shadow: rgba(228, 206, 8, 0.3) 0px 19px 38px, rgba(212, 192, 8, 0.22) 0px 15px 12px;
    transition: ease-in 0.4s;
}

.btn {
    outline: none;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 12px;
}

.btn:hover {
    cursor: pointer;
    filter: invert();
    transition: 0.4s;
}

footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 820px) {
    .container,
    .container-two {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px 0;
    }

    .cool-colors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}